.Join {
  display: flex;
  padding: 0 2rem;
  gap: 10rem;
  max-width: 90rem;
  min-width: 80rem;
  margin: 0 auto;
}

.join__left {
  text-transform: uppercase;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  position: relative;
}

.join__left > hr {
  position: absolute;
  width: 10.5rem;
  border: 2px solid var(--orange);
  border-radius: 20%;
  margin: -10px 0;
}

.join__left > div {
  display: flex;
  gap: 1rem;
}

.join__right {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.join__email-container {
  display: flex;
  gap: 3rem;
  background-color: gray;
  padding: 1rem 2rem;
}

.join__email-container > input {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--lightgray);
}

::placeholder {
  color: var(--lightgray);
}

.join__btn {
  background-color: var(--orange);
  color: white;
}
